/* sección general */
.recorridos-section{
    padding: 60px 0;
    
}

/* textos */
.titulo-recorridos{
    text-align: center;
    background-color: #e5e5e5;
    padding: 15px;
    width: 40%;
    margin: 0 auto 40px auto;
    font-weight: bold;
    color: #2C2C2C;
}

.descripcion-recorridos{
    text-align: center;
    color: #2C2C2C;
    margin-bottom: 40px;
    font-size: 18px;
}

/* contenedor de tarjetas */
.recorridos-container{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* tarjeta */
.recorrido-card{
    display: flex;
    background-color: #e5e5e5;
    padding: 25px;
    border-radius: 5px;
    width: 70%;
}

/* imagen */
.recorrido-img img{
    width: 180px;
    height: 200px;
    object-fit: cover;
}

/* info */
.recorrido-info{
    margin-left: 30px;
    font-size: 18px;
    color: #2C2C2C;
}

/* botón */
.btn-detalle{
    display: inline-block;
    margin-top: 15px;
    background-color: #1B5E20;
    color: white;
    padding: 12px 30px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
}

.btn-detalle:hover{
    background-color: #0C3E47;
}   